In [ ]:
#Problem Statement and Goal:
#Using Iris dataset to learn how to load a dataset, find it's shape, it's description, etc.
#Also learning how to visualize a dataset to find the trend and distribtion of data and the relationship between it's features

In [28]:
#importing libraries
import os
import pandas as pd
import seaborn as sns
import kagglehub
import matplotlib.pyplot as plt

In [39]:
#loading the dataset using url path
path = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
df = pd.read_csv(path)

In [40]:
#using head to show first few entries of the dataset
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [41]:
#using shape to find the shape (rows and columns) of the dataset
shape=df.shape
print("Shape of iris dataset: ",shape)

Shape of iris dataset:  (150, 5)

In [42]:
#printing the names of the columns in the dataset in the form of a list
column_names=df.columns.tolist()
print("Column names in iris dataset: ",column_names)

Column names in iris dataset:  ['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'variety']

In [43]:
#printing structural info of the dataset using info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None