In [ ]:
#Problem Statement and Goal:
#Using Iris dataset to learn how to load a dataset, find it's shape, it's description, etc.
#Also learning how to visualize a dataset to find the trend and distribtion of data and the relationship between it's features

In [28]:
#importing libraries
import os
import pandas as pd
import seaborn as sns
import kagglehub
import matplotlib.pyplot as plt

In [39]:
#loading the dataset using url path
path = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
df = pd.read_csv(path)

In [40]:
#using head to show first few entries of the dataset
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa